In [2]:
#import pandas, it's Globalized function, under pandas what are all the function exit it'll be loaded into file created memory
#Pandas we are using for database related Table creation and editing. Full table supporting
#under pandas 1000 functions there means it'll loaded into memory. more consumption will be there
#shift+enter using to run programms
#once we hae executed below statement In[] this cell change like In[1] and next execution time It'll change like In[2]
#import pandas as pd - henceforth we are going to use pandas as pd. pd it'll reflect as pandas
#pandas is a libray it contains functions related to the database
import pandas as pd

In [5]:
#Now we are goingto load dataset
#Always make sure dataset "Salary_Data.csv" file exist under respective folder.otherwise it'll through File not found error.
#Try to avoid spelling mistakes.
dataset=pd.read_csv("Salary_Data.csv") #dataset is called by pd.read_csv function under pandas and assigned to the dataset varaiable.
dataset #now we are seeing what is there under dataset
#dataset is called by pd.read_csv function under pandas and assigned to the dataset varaiable

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
#Now going to perform Input and output variables split
#In the above table YearsExperience is input and Salary is output
#Here Data preprocessing will not cover, already we have preprocessed data, In this model we are going to learn how to use preprocessd data like that
#inside dataset varaiable we have YearsExperience and Salary values.
#we are going to assign YearsExperience column into varaiable Independent. same like Salary column value assign into Dependent varaiable.
independent=dataset[["YearsExperience"]]
independent #Now YearsExperience value seperately assigned into independent varaiable, Independent means input, Dependent means outptu

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
dependent=dataset[["Salary"]] #Now Salary value seperately assigned into dependent varaiable,
dependent
#Now we got seperatley independent and dependent varaiables. now splited input and output

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [13]:
#Now split Trainset and Testset. 
#Using sklearn library going to split Trainset and Testset. it's supporting for ML.
#respective folder(skleran) under this function(model_selection) we are going to (import) or calling train_test_split
#Not calling all functions under respective folder(skleran) under this function(model_selection) we are going to call train_test_split.
#under pandas 1000 functions there means it'll loaded into memory. more consumption will be there
#here just calling sklearn folder under model_selection we are calling train_test_split function only. due to this kind of calling memory consumption will be low
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0) #No varaiable assigned here.here paraleely split input and output based on 70:30 ratio.
#It's parameterized function, now we are going to pass Independent(input) and Dependent(output) varaiable. test_size=0.30(we are dividing this test_size ratio rate 70:30, usually Trainset should be high compartively Testset).
#Here we are getting four varaiale output like list.it throwing four varaiable results.this function train_test_split based on four varaiable return.
#we have to create four varaiable like(X_train,X_test,y_train,y_test)
#we are using _ instead of space into vraiables(X_train,X_test,y_train,y_test)
#X means input, y means output, X input based trainset and testset(X_train,X_test) and y based output trainset and testset(y_train,y_test) 
#you can use sklearn library based on trainset and testset split like this four variables only(X_train,X_test,y_train,y_test).
#As of now compltetd Trainset and Testset split.

In [15]:
#Now we are going to see Linear regression algorithm libary functions and input passing that we are going to see now
#ML algorithm all are provided by sklearn 
from sklearn.linear_model import LinearRegression # While calling, this line loaded into memory. here LinearRegression may be function or class. In this line LinearRegression considered as class
regressor=LinearRegression() #Non parameterized function we are assigning into regressor varaiable.it consider as class, all the function under this class assign to regressor.
regressor.fit(X_train,y_train) #fit function we are calling it using access operator, now passing splited trainset input and output.
#here just calling sklearn folder under linear_model we are calling LinearRegression function only. due to this kind of calling memory consumption will be low
#without spelling mistake do it
#Top companies Regression creating means they set model varaiable like Regressor nd following for the same.
#first from line loaded into memory, now second line will execute
#what are all the functions LinearRegression under this class loaded into regressor varaable.
#class and functions are just we can call it as procedure.
#Third line when we call fit method and passing materials(X_train,y_train). this formula respective place substitute values.
#First two lines are procedure.we have holded weight and bias values, while calling fit() after execution this line it'll calculate weight and bias.now Model is ready
#For this particular block have Learning phase going to happen here,
#Secret is, All ML algorithm just these lines path only we are going to change,,remaining all codes of all algorithms are same.
#---------------------------------------------------------------
#from sklearn.linear_model import LinearRegression # 
#regressor=LinearRegression()
#---------------------------------------------------------------
#regressor.fit(X_train,y_train) - while this line execution completed means model creation was completed. respective constant values based on dataset calculaed .

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
#Now we have to see Module calculated value.
weight=regressor.coef_  #coef_ method using to calculate weight. while calling this "regressor.coef_" it will save it into weight varaiable 
weight #checking weight saved value.weight/slope is next prediction hook. we should know how pattern going.

array([[9360.26128619]])

In [19]:
bais=regressor.intercept_  #intercept_ method using to calculate bais. while calling this "regressor.intercept" it will save it into bais varaiable 
bais #checking bais saved value.
#regressor.fit(X_train,y_train) -In this regressor all are saved(formula,weight,bais)
#Now we know weight and bais

array([26777.3913412])

In [22]:
#Evaluation metrix(R2square using)
y_pred=regressor.predict(X_test) #y-pred is varaiable, all are saved in regressor(formula,weight,bais), predict is application function.
#Evaluation matrix shold happened on Testdataset .Testset values anyone not included into Traunset values. so that we are using it for crosss predition
#y-test is Actual data(y_test), X_test is brain predicted outptut.so that we are using it for crosss predition

In [24]:
from sklearn.metrics import r2_score #using this r2_score function going to find r2 value.
r_score=r2_score(y_test,y_pred) #r2_score assigned to r_score variable, now passing Actual output(y_test) and predicted output(y_pred)
#regressor=LinearRegression()
#r2_score nearly 1 means Good model, nearly to 0 means bad model
#Now it nearly to 1. our model is performing well. our model learned well while performing crosscheck. evaluation matrix cross checking our model and model is performing well or not.

In [25]:
r_score

0.9740993407213511

In [29]:
#To save model we are using pickle function, Intial time it's very difficult to learn.
import pickle
filename="finalized_model_linear.sav" #creating dummy filename for finalized model. to save pickle file we have to use .sav
#now it was created flename,not yet included into model

In [32]:
pickle.dump(regressor,open(filename, 'wb')) #This file will be saved same like document file which we are all available into below place
#D:\AI Pompt engg course materials\Week3-Machine Learning-Regression Handson\Machine Learning-Regression\1.Simple Linear Regression
#wb - write binary, rb -read.
#Now Model saved, so once load and check it, it's working fine or not. if everything fine we will move this model to Deployment, end user application use related we can set it.

In [36]:
#Now Model saved, so once load and check it, it's working fine or not. if everything fine we will move this model to phase2 ,Deployment, end user application use related we can set it.
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb')) #creating varaiale name loaded_model, if I want to use saved Model and want to load again means use "pickle.load(open("finalized_model_linear.sav",'rb'" and here only reading so used rb.
#Always extension properly to load model
result=loaded_model.predict([[13]])
#once loading completed means we are going test it real time based on single user. now we are predicting salary for 15 years of experience. Individual value sending time use two closed brackets like this([[15]]).
#predict([[15]]) here we can forward python int varaiable value as input. Now saved model loaded and predicting result.

In [37]:
result

array([[148460.78806172]])

In [ ]:
#Now going to start Phase2, phase 2 seperately check with one file.end user application team is preparting send to this brain to that team. As a AI enginner create one good brain and test and send to concern team.